<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header  -->
    <div class="container-flud main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left div -->
                    <div class="col-md-6 m-auto col-12 main_header_cen align-items-center">
                        <figure>
                            <img src="./images/err.png" class="img-fluid" title="authodr" alt="">
                        </figure>
                        <a href="/"><button>Home</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    {{>scriptlinks}}
</body>

</html>