<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <div class="container-flud main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="./images/hero.png" class="img-fluid" title="authodr" alt="">
                        </figure>
    
                    </div>
    
                    <!-- right div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I Am A <span> MERN Stack Developer </span> And A Freelancer</h1>
                        <a href="https://ankitkaushik.netlify.app" target="_blank"><button>About me</button></a>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    {{>scriptlinks}}
</body>

</html>
